<!--<a href="" ng-click="order('headerText')">TileCount</a>-->
<!--<span class="sortorder" ng-show="predicate === 'headerText'" ng-class="{reverse:reverse}"></span>-->

<!--<div class="colorLink" >-->
    <!--<label>Show previous value-->
        <!--<input type="checkbox" ng-model="data[0]">-->
    <!--</label><br/>-->
    <!--<label>Show % increase-->
        <!--<input type="checkbox" ng-model="data[1]">-->
    <!--</label><br/>-->
<!--</div>-->

<!--<a class="text-primary" href="" ng-click="order('orderBy_1')">Oder By % Change</a>-->
<!--<span class="sortorder" ng-show="predicate === 'orderBy_1'" ng-class="{reverse:reverse}"></span>-->

<h1> {{x[0]}} </h1>