
<!doctype html>
<script src="./lib/jquery-1.11.3.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="./lib/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<!--<link rel="stylesheet" type="text/css" href="./lib/bootstrap-3.3.4-dist/css/bootstrap.css">-->
<script src="./lib/angular-1.3.16/angular.js"></script>
<script src="./lib/angular-1.3.16/angular-route.js"></script>
<script src="./lib/zone_report_helper.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style>
    body { padding-top:50px; }

    .sortorder:after {
        content: '\25b2';
    }
    .sortorder.reverse:after {
        content: '\25bc';
    }

</style>
<!--<script src="http://code.highcharts.com/stock/highstock.src.js"></script>-->
<!--<script src="./lib/Underscore.js"></script>-->
<!--<script src="./lib/highcharts-ng.js"></script>-->
<!--<script src="./lib/highcharts-app.js"></script>-->
<!-- Additional files for the Highslide popup effect -->
<!--<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>-->
<!--<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>-->
<!--<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />-->


</head>


<body>
<div ng-app="zone_report">
    <!--<h3 class="events text-center" >SWAT - Zone Report</h3>-->

    <div ng-controller="zone_reporter_table" class="table-responsive">

        <!--debug: {{debug}}-->
        <!--xiayan: {{xiayan}}-->
        <!--db_items-->

        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>
                    <a href="" ng-click="order('Zone')">Zone</a>
                    <span class="sortorder" ng-show="predicate === 'Zone'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="order('TileCount')">TileCount</a>
                    <span class="sortorder" ng-show="predicate === 'TileCount'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('TileCountChange')">TileCountChange</a>
                    <span class="sortorder" ng-show="predicate === 'TileCountChange'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('TotalGameObjects')">TotalGameObjects</a>
                    <span class="sortorder" ng-show="predicate === 'TotalGameObjects'" ng-class="{reverse:reverse}"></span>
                </th>


                <th>
                    <a href="" ng-click="order('SizeOnDisk')">SizeOnDisk(MB)</a>
                    <span class="sortorder" ng-show="predicate === 'SizeOnDisk(MB)'" ng-class="{reverse:reverse}"></span>
                </th>


                <th>
                    <a href="" ng-click="order('SizeOnDiskChange')">SizeOnDiskChange</a>
                    <span class="sortorder" ng-show="predicate === 'SizeOnDiskChange'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('Verts')">Verts</a>
                    <span class="sortorder" ng-show="predicate === 'Verts'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('VertsChange')">VertsChange</a>
                    <span class="sortorder" ng-show="predicate === 'VertsChange'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('Components')">Components</a>
                    <span class="sortorder" ng-show="predicate === 'Components'" ng-class="{reverse:reverse}"></span>
                </th>


                <th>
                    <a href="" ng-click="order('PlaymakerEvents')">PlaymakerEvents</a>
                    <span class="sortorder" ng-show="predicate === 'PlaymakerEvents'" ng-class="{reverse:reverse}"></span>
                </th>


                <th>
                    <a href="" ng-click="order('EnemySpawners')">EnemySpawners</a>
                    <span class="sortorder" ng-show="predicate === 'EnemySpawners'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('Breakables')">Breakables</a>
                    <span class="sortorder" ng-show="predicate === 'Breakables'" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>

            <tr ng-repeat="x in db_items | orderBy:predicate:reverse">
            <!--<tr ng-repeat="y in previous_db_items | orderBy:predicate:reverse">-->
                <td>{{x.Zone}}</td>
                <td>{{x.TileCount}}</td>
                <td> {{x.TileCountChange}}% was: {{x.P_TileCountChange}}</td>
                <td> {{x.TotalGameObjects}}</td>
                <td> {{x["SizeOnDisk"]}}</td>
                <td> {{x.SizeOnDiskChange}}</td>
                <td> {{x.Verts}}</td>
                <td> {{x.VertsChange}}</td>
                <td> {{x.Components}}</td>
                <td> {{x.PlaymakerEvents}}</td>
                <td> {{x.EnemySpawners}}</td>
                <td> {{x.Breakables}}</td>
            <!--</tr>-->
            </tr>
        </table>

    </div>


    <!--<div ng-controller="mySwatAndroidBuildChart">-->
    <!--<div class="row">-->
    <!--&lt;!&ndash; chart area &ndash;&gt;-->
    <!--<div class="row">-->
    <!--<div class="row">-->
    <!--<highchart id="chart2" config="chartConfig" class="span9" ></highchart>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</div>

</body>
</html>