
<!doctype html>
<script src="./lib/jquery-1.11.3.js" xmlns="http://www.w3.org/1999/html"></script>
<script src="./lib/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<!--<link rel="stylesheet" type="text/css" href="./lib/bootstrap-3.3.4-dist/css/bootstrap.css">-->
<script src="./lib/angular-1.3.16/angular.js"></script>
<script src="./lib/angular-1.3.16/angular-route.js"></script>
<script src="./lib/zone_report_helper.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style>
    body { padding-top:50px; }

    .sortorder:after {
        content: '\25b2';
    }
    .sortorder.reverse:after {
        content: '\25bc';
    }

    .colorLink a
    {
        color: orange !important;
    }

    .table tbody tr > td.success {
        background-color: #dff0d8 !important;
    }

    .table tbody tr > td.error {
        background-color: #f2dede !important;
    }

    .table tbody tr > td.warning {
        background-color: #fcf8e3 !important;
    }

    .table tbody tr > td.info {
        background-color: #d9edf7 !important;
    }

    .table-hover tbody tr:hover > td.success {
        background-color: #d0e9c6 !important;
    }

    .table-hover tbody tr:hover > td.error {
        background-color: #ebcccc !important;
    }

    .table-hover tbody tr:hover > td.warning {
        background-color: #faf2cc !important;
    }

    .table-hover tbody tr:hover > td.info {
        background-color: #c4e3f3 !important;
    }

    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

</style>

</head>


<body>
<div ng-app="zone_report">
    <!--<h3 class="events text-center" >SWAT - Zone Report</h3>-->
    <div ng-controller="zone_reporter_table" class="table-responsive">

        <table class="table table-striped table-bordered table-hover table-condensed" >
            <tr>
                <th>
                    <a href="" ng-click="order('Zone')">Zone</a>
                    <span class="sortorder" ng-show="predicate === 'Zone'" ng-class="{reverse:reverse}"></span>
                </th>

                <th>
                    <a href="" ng-click="order('TileCount')">TileCount</a>
                    <span class="sortorder" ng-show="predicate === 'TileCount'" ng-class="{reverse:reverse}"></span>

                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showTileCountChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousTileCount">
                        </label><br/>
                    </div>

                </th>

                <th>
                    <a href="" ng-click="order('TotalGameObjects')">TotalGameObjects</a>
                    <span class="sortorder" ng-show="predicate === 'TotalGameObjects'" ng-class="{reverse:reverse}"></span>
                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showTotalGameObjectsChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousTotalGameObjects">
                        </label><br/>
                    </div>

                </th>


                <th>
                    <a href="" ng-click="order('SizeOnDisk')">SizeOnDisk(MB)</a>
                    <span class="sortorder" ng-show="predicate === 'SizeOnDisk(MB)'" ng-class="{reverse:reverse}"></span>
                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showSizeOnDiskChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousSizeOnDisk">
                        </label><br/>
                    </div>

                </th>


                <!--<th>-->
                    <!--<a href="" ng-click="order('SizeOnDiskChange')">SizeOnDiskChange</a>-->
                    <!--<span class="sortorder" ng-show="predicate === 'SizeOnDiskChange'" ng-class="{reverse:reverse}"></span>-->
                <!--</th>-->

                <th>
                    <a href="" ng-click="order('Verts')">Verts</a>
                    <span class="sortorder" ng-show="predicate === 'Verts'" ng-class="{reverse:reverse}"></span>

                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showVertsChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousVerts">
                        </label><br/>
                    </div>

                </th>

                <!--<th>-->
                    <!--<a href="" ng-click="order('VertsChange')">VertsChange</a>-->
                    <!--<span class="sortorder" ng-show="predicate === 'VertsChange'" ng-class="{reverse:reverse}"></span>-->
                <!--</th>-->

                <th>
                    <a href="" ng-click="order('Components')">Components</a>
                    <span class="sortorder" ng-show="predicate === 'Components'" ng-class="{reverse:reverse}"></span>

                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showComponentsChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousComponents">
                        </label><br/>
                    </div>


                </th>


                <th>
                    <a href="" ng-click="order('PlaymakerEvents')">PlaymakerEvents</a>
                    <span class="sortorder" ng-show="predicate === 'PlaymakerEvents'" ng-class="{reverse:reverse}"></span>
                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showPlaymakerEventsChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousPlaymakerEvents">
                        </label><br/>
                    </div>

                </th>


                <th>
                    <a href="" ng-click="order('EnemySpawners')">EnemySpawners</a>
                    <span class="sortorder" ng-show="predicate === 'EnemySpawners'" ng-class="{reverse:reverse}"></span>
                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showEnemySpawnersChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousEnemySpawners">
                        </label><br/>
                    </div>

                </th>

                <th>
                    <a href="" ng-click="order('Breakables')">Breakables</a>
                    <span class="sortorder" ng-show="predicate === 'Breakables'" ng-class="{reverse:reverse}"></span>
                    <div class="colorLink" >
                        <label>Show % increase
                            <input type="checkbox" ng-model="showBreakablesChangePencentage">
                        </label><br/>

                        <label>Show previous value
                            <input type="checkbox" ng-model="showPreviousBreakables">
                        </label><br/>
                    </div>

                </th>
            </tr>

            <tr ng-repeat="x in db_items | orderBy:predicate:reverse">

                <td class="text-justify">{{x.Zone}}</td>


                <td>
                    <kbd class="bg-primary" >{{x.TileCount}} </kbd>
                    <kbd ng_show = "showPreviousTileCount"> &#9666 {{x.P_TileCount}} </kbd>
                    <code class="text-right" ng-show="showTileCountChangePencentage" ng-style="{'background-color' : (x.TileCountChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px', 'text-align':'right'}">
                        {{" " +  x.TileCountChange|pn_number}}%
                    </code>
                </td>

                <td>
                    <!--&lt;!&ndash;ng-hide="showPreviousTotalGameObjects"&ndash;&gt;&#9666-->
                    <kbd class="bg-primary" >{{x.TotalGameObjects}} </kbd>
                    <kbd ng_show = "showPreviousTotalGameObjects"> &#9666 {{x.P_TotalGameObjects}} </kbd>
                    <code class="text-right" ng-show="showTotalGameObjectsChangePencentage" ng-style="{'background-color' : (x.TotalGameObjectsChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                            {{"  "+ x.TotalGameObjectsChange|pn_number}}%
                    </code>
                </td>

                <td>
                    <kbd class="bg-primary">{{x.SizeOnDisk}} </kbd>
                    <kbd ng_show = "showPreviousSizeOnDisk"> &#9666 {{x.P_SizeOnDisk}} </kbd>
                    <kbd class="text-right" ng-show="showSizeOnDiskChangePencentage" ng-style="{'background-color' : (x.SizeOnDiskChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                        {{" " +  x.SizeOnDiskChange|pn_number}}%
                    </kbd>
                </td>

                <td>
                    <kbd class="bg-primary">{{x.Verts}} </kbd>
                    <kbd ng_show = "showPreviousVerts"> &#9666 {{x.P_Verts}} </kbd>
                    <kbd class="text-right" ng-show="showVertsChangePencentage" ng-style="{'background-color' : (x.SizeOnDiskChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                        {{" " +  x.VertsChange|pn_number}}%
                    </kbd>
                </td>

                <td>
                    <kbd class="bg-primary">{{x.Components}} </kbd>
                    <kbd ng_show = "showPreviousComponents"> &#9666 {{x.P_Components}} </kbd>
                    <kbd class="text-right" ng-show="showComponentsChangePencentage" ng-style="{'background-color' : (x.SizeOnDiskChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                        {{" " +  x.ComponentsChange|pn_number}}%
                    </kbd>
                </td>

                <td>
                    <kbd class="bg-primary">{{x.PlaymakerEvents}} </kbd>
                    <kbd ng_show = "showPreviousPlaymakerEvents"> &#9666 {{x.P_PlaymakerEvents}} </kbd>
                    <kbd class="text-right" ng-show="showPlaymakerEventsChangePencentage" ng-style="{'background-color' : (x.SizeOnDiskChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                        {{" " +  x.PlaymakerEventsChange|pn_number}}%
                    </kbd>
                </td>

                <td>
                    <kbd class="bg-primary">{{x.EnemySpawners}} </kbd>
                    <kbd ng_show = "showPreviousEnemySpawners"> &#9666 {{x.P_EnemySpawners}} </kbd>
                    <kbd class="text-right" ng-show="showEnemySpawnersChangePencentage" ng-style="{'background-color' : (x.SizeOnDiskChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                        {{" " +  x.EnemySpawnersChange|pn_number}}%
                    </kbd>
                </td>

                <td>
                    <kbd class="bg-primary">{{x.Breakables}} </kbd>
                    <kbd ng_show = "showPreviousBreakables"> &#9666 {{x.P_Breakables}} </kbd>
                    <kbd class="text-right" ng-show="showBreakablesChangePencentage" ng-style="{'background-color' : (x.SizeOnDiskChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}">
                        {{" " +  x.BreakablesChange|pn_number}}%
                    </kbd>
                </td>

                <!--<td ng-mouseover="TotalGameObjects=x.TotalGameObjects + ' <&#45;&#45;&#45;&#45; ' + x.P_TotalGameObjects" ng-mouseout = "TotalGameObjects=x.TotalGameObjects" ng-init="TotalGameObjects=x.TotalGameObjects" >{{TotalGameObjects}}</td>-->
                <!--<td ng-style="{'background-color' : (x.TotalGameObjectsChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}"> {{" " +  x.TotalGameObjectsChange}}%</td>-->
                <!--<td> {{x["SizeOnDisk"]}}</td>-->
                <!--<td> {{x.SizeOnDiskChange}}</td>-->
                <!--<td> {{x.Verts}}</td>-->
                <!--<td> {{x.VertsChange}}</td>-->
                <!--<td> {{x.Components}}</td>-->
                <!--<td> {{x.PlaymakerEvents}}</td>-->
                <!--<td> {{x.EnemySpawners}}</td>-->
                <!--<td> {{x.Breakables}}</td>-->
            </tr>
        </table>

        {{db_items}}
    </div>


    <!--<script src="http://code.highcharts.com/stock/highstock.src.js"></script>-->
    <!--<script src="./lib/Underscore.js"></script>-->
    <!--<script src="./lib/highcharts-ng.js"></script>-->
    <!--<script src="./lib/highcharts-app.js"></script>-->
    <!-- Additional files for the Highslide popup effect -->
    <!--<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>-->
    <!--<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />-->

    <!--<div ng-controller="mySwatAndroidBuildChart">-->
    <!--<div class="row">-->
    <!--&lt;!&ndash; chart area &ndash;&gt;-->
    <!--<div class="row">-->
    <!--<div class="row">-->
    <!--<highchart id="chart2" config="chartConfig" class="span9" ></highchart>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--ng-mouseover="TileCountValue=x.TileCount + ' <-&#45;&#45; ' + x.P_TileCount"-->
    <!--ng-mouseout = "TileCountValue=x.TileCount"-->
    <!--ng-init="TileCountValue=x.TileCount" >-->
    <!--//$scope.toggleTileCountChangePencentage = function() {-->
    <!--//    $scope.showTileCountChangePencentage = !$scope.showTileCountChangePencentage;-->
    <!--//}-->
    <!--//-->
    <!--//$scope.toggleShowPreviousTileCount = function() {-->
    <!--//    $scope.showPreviousTileCount = !$scope.showPreviousTileCount;-->
    <!--//}-->
    <!--<td ng-style="{'background-color' : (x.TileCountChange | num) > 0 ? 'pink' : '#99CC00', 'width':'20px'}"> {{" " +  x.TileCountChange}}%</td>-->
    <!--<td>{{x.P_TotalGameObjects}} &#8594 {{x.TotalGameObjects}} </td>-->
    <!--<div><a ng-click="toggleTileCountChangePencentage()">Show percentage increase</a></div>-->
    <!--<div><a ng-click="toggleShowPreviousTileCount()">Toggle Previous Value</a></div>-->
    <!--<th>-->
    <!--<a href="" ng-click="order('TileCountChange')">TileCountChange</a>-->
    <!--<span class="sortorder" ng-show="predicate === 'TileCountChange'" ng-class="{reverse:reverse}"></span>-->
    <!--</th>-->
    <!--<tr ng-repeat="y in previous_db_items | orderBy:predicate:reverse">-->



</div>

</body>
</html>